{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View Your Carts...</p>
        </div>
    </div>
</header>

{% comment %} <div class="container">
    <h2>Your Cart</h2>
    {% if cart %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product_id, item in cart.cart.items %}
                    {% with product=product_id|lookup:cart.cart %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>${{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price|floatformat:2|multiply:item.quantity }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        <p>Total Items: {{ cart|length }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div> {% endcomment %}
<br/>
<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
        <br/>

        <div class="container px-4 px-lg-5">
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center><h2 class="card-title">{{ product.name }}</h2>
        {% if product.is_sale %}
            <h4><strike>${{ product.price }}</strike> &nbsp; <span class="badge bg-danger">${{ product.sale_price }}</span></h4>
        {% else %}
            <h4>${{ product.price }}</h4>
        {% endif %}
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
        </center>
      </div>
    </div>
  </div>
</div>
    </div>

    {% endfor %}
    {% else %}
    There's Nothing In Your Cart...
    {% endif %}
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}