{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View Your Carts...</p>
        </div>
    </div>
</header>

<div class="container">
    <h2>Your Cart</h2>
    {% if cart %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product_id, item in cart.cart.items %}
                    {% with product=product_id|lookup:cart.cart %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>${{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price|floatformat:2|multiply:item.quantity }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        <p>Total Items: {{ cart|length }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}